@model IEnumerable<TimeFunctioningPatterns.Web.MVC.Models.Memo>

@{
    //ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<h4>Memos of rhythm version: @ViewBag.RhythmVersion</h4>

<p>
    @Html.ActionLink("Create new memo", "Create", new { memoType = ViewBag.MemoType })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
