@model IEnumerable<TimeFunctioningPatterns.Web.MVC.Models.RhythmVersion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new version", "Create")
</p>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="text-center">Memos</th>
        <th class="text-center" colspan="2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="text-center">
            @Html.RouteLink("Fatback", new { Controller = "Memo", Action = "Index", Id = item.Id, memoType = "fatback" }) | 
            @Html.RouteLink("Snare/Bass", new { Controller = "Memo", Action = "Index", Id = item.Id, memoType = "snare" }) | 
            @Html.RouteLink("Hi-hat", new { Controller = "Memo", Action = "Index", Id = item.Id, memoType = "hihat" })
        </td>
        <td class="text-center">
            @Html.RouteLink("Add memo", new { Controller = "Memo", Action = "Create", Id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
